@* @model IEnumerable<ProyectoFinalApp.Models.Stock> *@
    @model ProyectoFinalApp.ViewModel.StockVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p class="d-flex">
    <a asp-action="Create" class="btn btn-info btn-sm compra"><i class="bi bi-plus-circle"></i> Compra</a>
    <a asp-action="Venta" class="btn btn-info btn-sm venta"><i class="bi bi-plus-circle"></i> Venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stocks[0].cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stocks[0].fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stocks[0].producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.stocks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producto.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                    <i class="bi bi-card-text"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_Paginador" for="@Model.paginador" />
<style>
    .compra{
        margin-right: 20px
    }

    .venta{
        margin-left: 20px;
    }

    .bi-plus-circle {
        font-size: 1.5rem;
        padding-bottom: 5px;
    }

    .btn {
        font-weight: bold;
    }

    .btn-info {
        height: 55px;
    }
</style>