@* @model IEnumerable<ProyectoFinalApp.Models.Comprador> *@
@model ProyectoFinalApp.ViewModel.CompradorVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<form id="form">
    Nombre:
    <input type="text" placeholder="Ingresar nombre" name="busqNombre" value="@Model.busquedaNombre" />
    Apellido:
    <input type="text" placeholder="Ingresar apellido" name="busqApellido" value="@Model.busquedaApellido" />
    <input type="submit" value="Buscar" class="btn btn-primary" />
    <input type="reset" value="Limpiar filtros" class="btn btn-danger" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.compradores[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.compradores[0].apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.compradores[0].dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.compradores[0].foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.compradores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.foto) *@
                @if (!string.IsNullOrEmpty(item.foto))
                {
                    <img src="~/fotos/@item.foto" style="max-width:50px" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_Paginador" for="@Model.paginador"/>