@* @model IEnumerable<ProyectoFinalApp.Models.Comprador> *@
@model ProyectoFinalApp.ViewModel.CompradorVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create" class="btn btn-info btn-sm"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
</p>
<form id="form">
    Nombre:
    <input type="text" placeholder="Ingresar nombre" name="busqNombre" value="@Model.busquedaNombre" />
    Apellido:
    <input type="text" placeholder="Ingresar apellido" name="busqApellido" value="@Model.busquedaApellido" />
    <input type="submit" value="Buscar" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-danger">Limpiar</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.compradores[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.compradores[0].apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.compradores[0].dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.compradores[0].foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.compradores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.foto))
                {
                    <img src="~/fotos/@item.foto" style="max-width:50px" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                    <i class="bi bi-card-text"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_Paginador" for="@Model.paginador"/>

<style>
    .bi-plus-circle{
        font-size: 1.5rem;
        padding-bottom: 5px;
    }
    .btn{
        font-weight: bold;
    }
    .btn-info{
        height: 55px;
    }
</style>