@* @model IEnumerable<ProyectoFinalApp.Models.Producto> *@
@model ProyectoFinalApp.ViewModel.ProductoVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="form-container d-flex mb-2 flex-row">
    <p>
        <a asp-action="Create" class="btn btn-info btn-sm"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
    </p>
    <form class="form" method="post" asp-action="ImportarProductos" enctype="multipart/form-data">
        <div class="form-group input-group justify-content-center">
            <label for="archivo">Seleccione un archivo Excel:</label>
            <input type="file" name="archivo" id="archivo" class="form-control-file mt-2">
        </div>
        <button type="submit" class="btn btn-primary mt-2 mb-2">Importar</button>
    </form>
</div>
<form method="get" asp-action="Index" class="mt-2 mb-4">
    Nombre:
    <input type="text" placeholder="Ingresar nombre" name="busqNombre" value="@Model.busquedaNombre"/>
    Codigo:
    <input type="number" name="busqCodigo" value="@Model.busquedaCodigo"/>
    Categoria:
    <select asp-for="categoriaId" asp-items="@Model.listaCategorias">
        <option value="">Todos</option>
    </select>
    <input type="submit" value="Buscar" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-danger">Limpiar</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.productos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.imagen))
                {
                    <img src="~/fotos/@item.imagen" style="max-width:50px" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                    <i class="bi bi-card-text"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_Paginador" for="@Model.paginador"/>

<style>
    .bi-plus-circle {
        font-size: 1.5rem;
        padding-bottom: 5px;
    }

    .btn {
        font-weight: bold;
    }

    .btn-info {
        height: 55px;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 6rem; 
        height: 8rem;
        width: 30rem;
        justify-content: center;
    }

    .form-container{
        align-items: center;
    }
</style>