@* @model IEnumerable<ProyectoFinalApp.Models.Producto> *@
@model ProyectoFinalApp.ViewModel.ProductoVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="post" asp-action="ImportarProductos" enctype="multipart/form-data">
    <div class="form-group">
        <label for="archivo">Seleccione un archivo Excel:</label>
        <br />
        <input type="file" name="archivo" id="archivo" class="form-control-file mt-2">
    </div>
    <button type="submit" class="btn btn-primary mt-2 mb-2">Importar</button>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" asp-action="Index">
    Nombre:
    <input type="text" placeholder="Ingresar nombre" name="busqNombre" value="@Model.busquedaNombre"/>
    Codigo:
    <input type="number" name="busqCodigo" value="@Model.busquedaCodigo"/>
    Categoria:
    <select asp-for="categoriaId" asp-items="@Model.listaCategorias">
        <option value="">Todos</option>
    </select>
    <input type="submit" value="Buscar" class="btn btn-primary"/>
    <input type="reset" value="Limpiar filtros" class="btn btn-danger"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.productos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.imagen))
                {
                    <img src="~/fotos/@item.imagen" style="max-width:50px" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_Paginador" for="@Model.paginador"/>